streamlit==1.38.0
pandas>=2.2.3
numpy>=1.26.4
scikit-learn>=0.24.0
tensorflow>=2.17.0
plotly>=5.24.1
reportlab>=4.2.5
google-generativeai>=0.8.3
crewai==0.119.0
pydantic>=2.0
python-dotenv>=1.0.0
chromadb==0.5.23
tenacity==8.5.0
protobuf==5.29.4
schedule>=1.2.2
opentelemetry-api==1.33.0
opentelemetry-exporter-otlp-proto-grpc==1.33.0
opentelemetry-exporter-otlp-proto-http==1.33.0
opentelemetry-sdk==1.33.0
opentelemetry-semantic-conventions==0.54b0
opentelemetry-instrumentation-fastapi==0.54b0
litellm==1.69.1
yfinance>=0.2.43
schedule>=1.2.2